body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(240, 238, 238);
}
header {
    padding: 10px;
    background: #B24592;
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);
    background: linear-gradient(to right, #F15F79, #B24592);
    height: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    font-size: 50px;
    color: white;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #B24592;
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);
    background: linear-gradient(to right, #F15F79, #B24592);
    color: white;
}
#articles {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}