.control {
  display: flex;
  background: rgba(0,0,0,.75);
  border: 1px solid rgb(172, 170, 170);
  border-radius: 5px;
  left: 20px;
  padding: 10px;
  top: 20px;
  z-index: 2;
  opacity: 0.9;
}

.mode-picker {
  display: inline-block;
  position: relative;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.mode-picker input {
  position: relative;
  display: none;
}

.mode-picker-label {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 27px;
  vertical-align: top;
  cursor: pointer;
}

.mode-picker-label {
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8ba6;
  text-transform: uppercase;
  text-shadow: 0 1px 1px black;
}

.mode-picker-label, .mode-picker-label:before {
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.mode-picker:hover ~ div.explanation{
  border: 1px solid black;
  height: 50px;
  padding: 10px;
  transform:translateY(-70px);
  border-radius: 5px;

}

.explanation{
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 290px;
  background: white;
  z-index: 1;
  font-family: 'Helvetica';
}

.mode-picker-label:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid;
  border-color: #e4e0fb #b6b1d1 #b6b1d1;
  border-radius: 6px;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .mode-picker-label {
  color: white;
  background: #302e42;
}

input:checked + .mode-picker-label:before {
  opacity: 1;
}

#copy {
  display: absolute;
  left: -200px;
  bottom: -100px;
}

[type=color] {
  margin:0 5px;
  outline: none;
  height: 29px;
  border-radius: 5px;
}
.color-picker-focused {
  box-shadow: 2px 2px 11px white;
  border: 3px solid;
}
.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid;
  border-color: #e4e0fb #b6b1d1 #b6b1d1;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 0 1px 1px black;
  padding: 5 10px;
  margin: 0 5px;
  -webkit-appearance: none;
  appearance: none;
  background: #302e42;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 1px 1px 10px rgb(145, 143, 143);
}

.button:hover {
  box-shadow: 0px 1px 40px -20px black;
  color: #9c99ad;
  background: #29253b;
  transform: translateY(2px)
}
.button:focus {
  outline: 0;
}

.button:disabled {
  background-color: #9c99ad;
  color: #afacc2;
  box-shadow: none;
}

.note {
  position: relative;
  display: inline;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.to-be-deleted {
  border: medium solid red;
}

.pop-up {
  line-height: 1.5;
  font-size: 14px;
  width: 200px;
  background-color: white;
  position: absolute;
  top:100%;
  left:0;
  border: 2px solid black;
  padding: 10px;
  display: none;
  color: black;
  z-index: 10;
}

.note:hover .pop-up {
  display: block;
}