
body {
  font: 1.2em "Fira Sans", sans-serif;
  background: #B24592;
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);
  background: linear-gradient(to right, #F15F79, #B24592);
  margin: 0;
  padding: 0;
  }

  a {
    color: #00ccff;
    text-decoration:none;
  }
  #typer-size{
      font-size: 40px;
  }
  a:hover,
  a:focus {
    color: #00e3fc;
    text-decoration: none;
  }
  header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
  }

  header .vert-text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }
  header .vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
  header .vert-text .scroll-down {
    display: block;
    position: absolute;
    bottom: 12%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  header .vert-text .scroll-down:hover {
    opacity: 0.5;
  }
  header .vert-text .scroll-down::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  header .vert-text .scroll-down::before {
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }
  
  
  
  #contacts {
      margin: auto;
      padding: 20px;
      background: #B24592;
      background: -webkit-linear-gradient(to right, #F15F79, #B24592);
      background: linear-gradient(to right, #F15F79, #B24592);
      width: 90%;
      transition: all 1.7s ease;
      border-radius: 10px;
      text-align: center;
  }
  #contacts:hover{
      background: #B24592;
      box-shadow: 5px 5px 40px #F15F79;
  }

  footer {
    background: #B24592;
    font-family: sans-serif;
    color: white;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #footer1 {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    flex-grow: 2;
  }

  #footer2 {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    flex-grow: 1;
  }
  

  
  
  
  
  
  
  